<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bernardorufino.android.universitario"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/ApplicationTheme"
        android:name=".application.Application">

        <activity
            android:name=".view.activities.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@style/ApplicationTheme.Main">
            <!-- android:uiOptions="splitActionBarWhenNarrow" -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".view.activities.SettingsActivity"
            android:label="Configurações">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bernardorufino.android.universitario.view.activities.main.MainActivity" />

        </activity>

    </application>

</manifest>
